.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__active {
    .checkbox__container {
      color: var(--color-gray);
      background-color: var(--color-main);
      border: 1px solid var(--color-main);
    }
  }

  &__disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &__container {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: transparent;
    border: 1px solid var(--color-gray-60);
    border-radius: 4px;
    transition: var(--transition-default);
  }

  &__text {
    margin-left: 12px;
    user-select: none;
  }
}