.sort-popup {
  position: absolute;
  top: 50px;
  right: 50px;
  max-width: 277px;
  min-width: 277px;
  padding: 8px 16px;
  background: var(--color-gray);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px -4px 12px rgba(0, 0, 0, 0.12));
  border-radius: 16px;
  z-index: 999;

  &__container {
    &-element {
      display: flex;
      padding: 8px;
    }

    &-title {
      font-weight: 500;
      color: var(--color-main);
      padding: 8px;
    }
  }

  &::after {
    position: absolute;
    top: -11px;
    right: 21px;
    content: '';
    width: 21px;
    height: 11px;
    background-image: url(/img/polygon.svg);
  }

}

.task-popup {
  position: absolute;
  top: 80px;
  right: 50px;
  max-width: 420px;
  min-width: 420px;
  padding: 8px 16px;
  background: var(--color-gray);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(0px -4px 12px rgba(0, 0, 0, 0.12));
  border-radius: 16px;
  z-index: 999;

  .container {
    &__title {
      font-weight: 500;
      color: var(--color-main);
      padding: 8px;
    }

    .element {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      background: var(--color-gray);

      &.active {
        background: var(--color-gray-20);
        border-radius: 12px;
      }

      &__title {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .time {
        color: var(--color-gray-80);
      }
    }
  }

  &::after {
    position: absolute;
    top: -11px;
    right: 21px;
    content: '';
    width: 21px;
    height: 11px;
    background-image: url(/img/polygon.svg);
  }

}