.track {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 319px;
  min-width: 319px;
  padding: 24px 16px;
  border-left: 1px solid var(--color-gray-40);

  h2 {
    color: var(--color-gray-80);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container__title {
      display: flex;
      flex-direction: column;
      gap: 4px;
      color: var(--color-gray-80);

      .time {
        color: var(--color-gray-100)
      }
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 4px;

  }

  .control {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0;

    &__check {
      color: var(--color-main);
    }

    &__archive {
      gap: 8px;
      color: var(--color-main);
    }

    &__trash {
      gap: 8px;
      color: var(--color-error);
    }
  }

}