@import './variables.scss';
@import './utils.scss';

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 375px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 400;
}
