@import './variables.scss';
@import './core/header.scss';

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 375px;
  font-family: 'Gilroy', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.w-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  &-time {
    font-family: 'Kantumruy', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}