.w-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.j-between {
    justify-content: space-between;
  }
  &.j-center {
    justify-content: center;
  }
  &.j-start {
    justify-content: flex-start;
  }
  &.j-end {
    justify-content: flex-end;
  }
  &.a-center {
    align-items: center;
  }
  &.a-end {
    align-items: flex-end;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}

h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  &-time {
    font-family: 'Kantumruy', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
