html {
  --color-main: #205EFF;
  --color-error: #DF1919;
  --color-success: #0ACC11;

  --color-gray: #fff;
  --color-gray-20: #F6F6F6;
  --color-gray-40: #EEEEEE;
  --color-gray-60: #D2D2D2;
  --color-gray-80: #787878;
  --color-gray-100: #000;

  --transition-default: 300ms ease;
}